<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Warden.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="PPS3Security.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <Warden.Properties.Settings>
            <setting name="s3baseurl" serializeAs="String">
                <value>security.mysite.com</value>
            </setting>
            <setting name="program" serializeAs="String">
                <value>mytradelinkapp</value>
            </setting>
            <setting name="accessid" serializeAs="String">
                <value />
            </setting>
            <setting name="accesskey" serializeAs="String">
                <value />
            </setting>
            <setting name="programlist" serializeAs="String">
                <value />
            </setting>
        </Warden.Properties.Settings>
        <PPS3Security.Properties.Settings>
            <setting name="s3baseurl" serializeAs="String">
                <value>security.pracplay.com</value>
            </setting>
            <setting name="program" serializeAs="String">
                <value />
            </setting>
            <setting name="accessid" serializeAs="String">
                <value />
            </setting>
            <setting name="accesskey" serializeAs="String">
                <value />
            </setting>
            <setting name="programlist" serializeAs="String">
                <value />
            </setting>
        </PPS3Security.Properties.Settings>
    </userSettings>
</configuration>
